<!-- Inside property_details.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="newproperty.css">

    <title>Property Details</title>
</head>
<body>
    <h1>Property Details</h1>
        <ul>
            <% prop.forEach(function(property) { %>
            <div class="card">
                <h3>Name:<%= property.NAME %></h3>
                <h3>Description: <%= property.DESCRIPTION %></h3>
                <h3>CONTACT_NUMBER: <%= property.CONTACT_NUMBER%></h3>
                <h3>ADDRESS: <%= property.ADDRESS %></h3>
                <h3>FEATURE1: <%= property.FEATURE1%></h3>
                <h3>FEATURE2: <%= property.FEATURE2%></h3>
                <h3>FEATURE3: <%= property.FEATURE3%></h3>
                <br>
                <!-- Add other properties here -->
           </div>
            <% }); %>
        </ul>
    
</body>
</html>
